# Imap
IMAP_HOST=mail.seuprovedor.com
IMAP_USER=seu_email@empresa.com
IMAP_PASS=SuaSenhaSecreta

# Gemini
GEMINI_API_KEY=sua_chave_api_do_google_gemini

# WhatsApp
WHATSAPP_PHONE_NUMBER_ID=123456789012345
WHATSAPP_ACCESS_TOKEN=seu_access_token_do_whatsapp
WHATSAPP_TO=5511999999999
